* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1a1a1a;
  --background-color: #fff1f3;
  --secondary-color: #fcd5ce;
  --third-color: #cdb4db;
  --fourth-color: #ffb6b9;
}

body {
  background: #fff1f3;

  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: var(--fourth-color); */
  color: var(--primary-color);

  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1000; */
}

header h1 {
  font-size: 1.8rem;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

nav ul {
  list-style: none;
  gap: 1.5rem;
  display: flex;
}

nav ul li a {
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffaaa5;
}
main {
  /* flex: 1; */
}

.intro-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.profile-image img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.intro {
  max-width: 500px;
}

.intro h2 {
  font-size: 6rem;
  font-weight: 700;
}

.intro p:first-of-type {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.intro p:nth-of-type(2) {
  line-height: 1.6;
  opacity: 0.8;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  /* background-color: var(--secondary-color); */
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  border: 1px solid #1a1a1a;
  transition: background-color 0.3s ease;
}

.btn-link.projects {
  background-color: var(--fourth-color);
}

.btn-link.projects:hover {
  background-color: var(--background-color);
}

.btn-link.contact {
  background-color: var(--third-color);
}

.btn-link.contact:hover {
  background-color: var(--background-color);
  /* transform: scale(1); */
}

.project-image {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 2rem auto;
}

.project-container{
  max-width: 900px;
  margin: 0 auto;
}

.project-container h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  
}

.project-container h3{
  font-size: 1.5rem;
  padding-bottom: 1.3rem;
}


.projects-grid{
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem; */
  /* column-count: 2;
  column-gap: 2rem;
  padding: 2rem; */
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
  flex-wrap: wrap;
}

.project-card{
  /* display: inline-block;
  width: 100%;
  break-inside: avoid; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* border-radius: 4px; */
  width: 300px;
  height: 300px;
  /* margin-bottom: 1rem; */


}



.project-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* display: block; */
}

.project-card:hover img {
  /* transform: scale(1.05); */
  /* transition: transform 0.3s ease; */
}
.project-card .overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.9)
  );
  color: #fff;
  text-align: center;
  font-weight: bold;;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  opacity: 1;
  transition: background 0.6s ease-in-out;
}

.project-card:hover .overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(255, 255, 255, 0.1)
  );
}

.next-project {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.project {
  display: none;
}

.project.active {
  display: block;
}

footer {
  text-align: center;
  padding: 1rem;
 
}

.footer-inquiry {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 1.5rem;
  max-width:900px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-inquiry h2 {
  font-size: 2.5rem;
}

.footer-inquiry p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  /* max-width: 500px; */
}

.footer-inquiry a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--background-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.footer-inquiry a:hover {
  background-color: #ffaaa5;
}

.footer-details {
  margin-top: 2rem;
  color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  /* gap: 5rem; */
  flex-wrap: wrap;
}

.footer-details div {
  padding: 0 1.5rem;
  /* border-right: 1px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-details div:last-child {
  /* padding: 0 1.5rem; */
  border-right: none;
}
